@model IEnumerable<ShopInstallment.Models.Category>
@{
    ViewData["Title"] = "หมวดหมู่สินค้า";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>หมวดหมู่สินค้า</h2>
    <a class="btn btn-outline-primary" asp-action="Create"> <i class="bi bi-plus-circle"></i> เพิ่มหมวดหมู่</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ชื่อ</th>
            <th>เพศสภาพ</th>
            <th>สถานะ</th>
            <th>อัพเดท</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Gender?.Name</td>
            <td>@item.Status</td>
            <td>@item.UpdatedAt?.ToLocalTime()</td>
            <td class="text-end">
                <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="bi bi-pencil"></i> แก้ไข</a>
                <a class="btn btn-sm btn-outline-danger delete-button" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-trash"></i> ลบ</a>
            </td>
        </tr>
    }
    </tbody>
</table>
